<div class="col-12">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      value="{{this.descricao}}"
      placeholder="Descrição da operação"
      name="descricao"
      minlength="3"
      maxlength="64"
      required
    />
    <label for="floatingInput">Descrição</label>
  </div>
</div>
<div class="col-12 d-grid">
  <button class="btn btn-primary" type="submit">Prosseguir</button>
</div>