<div class="col-12">
  <div class="col-12">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.name}}" placeholder="First Name"
        name="name">
      <label for="floatingInput">Nome</label>
    </div>
  </div>
  <div class="col-12">
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" value="{{this.email}}" placeholder="email@email.com"
        name="email">
      <label for="floatingInput">Email</label>
    </div>
  </div>
  <div class="col-12">
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="floatingInput" value="{{this.password}}" name="password">
      <label for="floatingInput">Senha</label>
    </div>
  </div>
  <div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</div>