<div class="row text-center">
  <div class="col-12">
    <h1>Sigefin<br>Gestor Financeiro</h1>
    <br>
    <h5>Bem vindo ao Sigefin</h5>
    <br>
    <h6>Investindo no futuro</h6>
    {{#if dbName}}
    <br>
    <h7>{{dbName}}</h7>
    {{/if}}
  </div>
</div>
  <footer class="text-center fixed-bottom">
    <h6>Versão: 1.0</h6>
  </footer>

<script>
    elTitle = document.querySelector('title');
    console.log(elTitle)
    elTitle.innerHTML = `SIGEFIN ({{dbName}})`;
</script>
